<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.topnet.aliseo"
    android:versionCode="101"
    android:versionName="1.01" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity android:name="Preferences" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name="it.topnet.aliseo.WifiStatusReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.supplicant.STATE_CHANGE"/>
            </intent-filter>
        </receiver>
        <service android:name="it.topnet.aliseo.LoginService"></service>
        <activity android:name="WWWrapper" android:process="@string/process_name"></activity>
    </application>

</manifest>